html,
body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

header,
footer,
.content {
  width: 100%;
  padding: 2vmax 5vmax;
}

p {
  margin: 0;
}

/* header */
header {
  background-color: #fff;
}

.hide-text {
  font-size: 0;
}

.icon-home {
  margin-bottom: auto;
}

.icon-home:hover {
  opacity: 0.7;
}

.logo {
  content: url("./assets/logo.svg");
  height: 3rem;
}

.right {
  display: flex;
  gap: 0.5rem;
}

div.navbar-collapse {
  flex-grow: initial;
}

li.nav-item {
  text-align: end;
  margin: auto 0;
}

.button-email-profile {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-email {
  content: url("./assets/email.png");
  height: 2rem;
}

.icon-profile {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

/* content */
.vehicle {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2vmax;
}

/* carousel */
#carousel-thumb {
  height: calc(100vw - 15vmax);
}

.sr-only {
  font-size: 0px;
}

/* detail */
h1,
h2 {
  font-weight: 700;
}

h1,
.location {
  font-family: "Playfair Display", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

.location {
  margin-bottom: 2rem;
}

.availability {
  font-weight: 700;
  font-size: 1.5rem;
  color: #087e0d;
}

.payment {
  font-weight: 300;
  font-size: 1.5rem;
  color: #9b0a0a;
  margin-bottom: 2rem;
}

p.info {
  margin-bottom: 0.5rem;
}

.price {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: end;
  margin-bottom: 2rem;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 900;
  font-size: 3rem;
}

button.count-button {
  width: 5rem;
  font-weight: 900;
  font-size: 3rem;
  border-radius: 10px;
}

.action {
  margin-top: 2vmax;
  display: flex;
  justify-content: space-between;
}

.action-button {
  width: 30%;
  height: 90px;
  font-weight: 700;
  border-radius: 10px;
}

button.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon-like {
  content: url("./assets/like.png");
  height: 1.5rem;
}

/* footer */
footer {
  background-color: #f9f9fb;
  color: #393939;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.grid-footer {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  grid-gap: 1rem;
}

.grid-footer .intro {
  grid-area: a;
}

.grid-footer .destinations {
  grid-area: b;
}

.grid-footer .vehicles {
  grid-area: c;
}

.grid-footer .interests {
  grid-area: d;
}

.grid-footer .footer-title {
  font-weight: 700;
}

.grid-footer p {
  margin-bottom: 0.5rem;
}

.grid-footer a {
  text-decoration: none;
  color: #393939;
}

.grid-footer a:hover {
  color: #393939;
  opacity: 0.7;
}

hr.line {
  color: #c4c4c4;
  width: 85%;
  margin: 1rem auto;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social a {
  font-size: 0px;
  color: #393939;
}

.icon {
  height: 1.5rem;
  margin: 1rem;
}

.icon:hover {
  opacity: 0.7;
}
.icon-twitter {
  content: url("./assets/icon-twitter.svg");
}
.icon-facebook {
  content: url("./assets/icon-facebook.svg");
}
.icon-instagram {
  content: url("./assets/icon-instagram.svg");
}
.icon-linkedin {
  content: url("./assets/icon-linkedin.svg");
}
.icon-youtube {
  content: url("./assets/icon-youtube.svg");
}

@media (min-width: 576px) {
  /* header */
  .expanded-right {
    display: flex !important;
    flex-direction: row-reverse;
  }

  /* content */
  .vehicle {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 2vmax;
  }

  /* carousel */
  #carousel-thumb {
    height: calc(50vw - 10vmax);
  }

  /* footer */
  .grid-footer {
    grid-template-areas:
      "a a a"
      "b c d";
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  /* content */
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .action-button {
    font-size: 1.25rem;
  }

  /* footer */
  .grid-footer {
    grid-template-areas:
      "a b"
      "c d";
    justify-content: initial;
  }
}

@media (min-width: 992px) {
  /* footer */
  .grid-footer {
    grid-template-areas: "a b c d";
  }
}
