html,
body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

header,
footer,
.finder-content,
.content {
  width: 100%;
  padding: 2vmax 5vmax;
}

p {
  margin: 0;
}

/* header */
header {
  background-color: #fff;
}

.icon-home {
  font-size: 0;
}

.icon-home:hover {
  opacity: 0.7;
}

.logo {
  content: url("./assets/logo.svg");
  height: 45px;
}

div.navbar-collapse {
  flex-grow: initial;
}

li.nav-item {
  text-align: end;
  margin: auto 0;
}

.button-login-register {
  padding: 0.5rem 0;
  text-align: end;
}

/* finder */
.finder-container {
  height: calc(100vh - 45px - 4vmax);
  background-image: linear-gradient(#0000004d 100%, #fff 0%),
    url("./assets/explore.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-weight: 900;
}

h1,
h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5 rem;
}

hr.finder-line {
  border-top: 1px solid red;
  background-color: red;
  width: 2rem;
  margin: 0;
  margin-bottom: 3rem;
}

.finder button {
  color: #000;
  font-weight: 900;
}

.form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
  grid-gap: 1rem;
}

.form .input-form {
  background-color: #ffffff40;
  border: 0px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.input-form option {
  color: #000;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.button-explore {
  width: 50%;
}

/* content (popular & testimony)*/
.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-title a {
  text-decoration: none;
  color: #fb8f1d;
}

.popular-title a:hover {
  opacity: 0.7;
}

.popular {
  padding-bottom: 2vmax;
  display: grid;
  grid-template-columns: calc(100vw - 10vmax);
  grid-template-rows: repeat(4, calc(calc(4 / 3) * calc(100vw - 10vmax)));
  grid-gap: 2vmax;
}

[class^="popular-card"] {
  border-radius: 10px;
}

.popular-card1 {
  background-image: url("./assets/van-forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.popular-card2 {
  background-image: url("./assets/ride-extreme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.popular-card3 {
  background-image: url("./assets/jeep-bromo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.popular-card4 {
  background-image: url("./assets/ride-town.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.pc-text {
  width: 120px;
  height: 50px;
  padding-left: 0.5rem;
  border-radius: 0px 5px 0px 10px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
}

.pc-title {
  font-weight: 600;
}

/* testimony */
.testimony-card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: calc(calc(4 / 3) * calc(100vw - 10vmax));
  grid-gap: 2vmax;
}

.testimony-photo {
  background-image: url("./assets/josh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 15px;
}

.testimony-button {
  padding-top: 0.25rem;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border-radius: 5px 0px 15px 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.icon-previous {
  content: url("./assets/previous.png");
}
.icon-next {
  content: url("./assets/next.png");
}

.testimony-detail {
  display: flex;
  flex-direction: column;
  gap: 2vmax;
}

.testimony-comment {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
}

.testimony-user {
  font-weight: 700;
  font-size: 1.5rem;
}

/* footer */
footer {
  background-color: #f9f9fb;
  color: #393939;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.grid-footer {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  grid-gap: 1rem;
}

.grid-footer .intro {
  grid-area: a;
}

.grid-footer .destinations {
  grid-area: b;
}

.grid-footer .vehicles {
  grid-area: c;
}

.grid-footer .interests {
  grid-area: d;
}

.grid-footer .footer-title {
  font-weight: 700;
}

.grid-footer p {
  margin-bottom: 0.5rem;
}

.grid-footer a {
  text-decoration: none;
  color: #393939;
}

.grid-footer a:hover {
  color: #393939;
  opacity: 0.7;
}

hr.line {
  color: #c4c4c4;
  width: 85%;
  margin: 1rem auto;
}

.social {
  /* padding: 1.5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social a {
  font-size: 0px;
  color: #393939;
}

.icon {
  height: 1.5rem;
  margin: 1rem;
}

.icon:hover {
  opacity: 0.7;
}
.icon-twitter {
  content: url("./assets/icon-twitter.svg");
}
.icon-facebook {
  content: url("./assets/icon-facebook.svg");
}
.icon-instagram {
  content: url("./assets/icon-instagram.svg");
}
.icon-linkedin {
  content: url("./assets/icon-linkedin.svg");
}
.icon-youtube {
  content: url("./assets/icon-youtube.svg");
}

@media (min-width: 576px) {
  /* header */
  .navbar-nav {
    flex-direction: row-reverse !important;
  }

  .nav-menu {
    display: flex;
  }

  .button-login-register {
    padding-left: 0.5rem;
  }

  /* finder */
  .finder-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(3, 3rem);
  }

  /* popular & testimony */
  .popular {
    display: grid;
    grid-template-columns: repeat(2, calc((100vw - 12vmax) / 2));
    grid-template-rows: repeat(2, calc((4 / 3) * calc((100vw - 12vmax) / 2)));
    grid-gap: 2vmax;
  }

  button.explore {
    width: 100%;
  }

  /* footer */
  .grid-footer {
    grid-template-areas:
      "a a a"
      "b c d";
  }
}

@media (min-width: 768px) {
  /* finder */
  h1 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  /* popular & testimony */
  .popular {
    display: grid;
    grid-template-columns: repeat(4, calc((100vw - 16vmax) / 4));
    grid-template-rows: calc((4 / 3) * calc((100vw - 16vmax) / 4));
    grid-gap: 2vmax;
  }

  /* footer */
  .grid-footer {
    grid-template-areas:
      "a b"
      "c d";
  }
}

@media (min-width: 992px) {
  /* footer */
  .grid-footer {
    grid-template-areas: "a b c d";
  }
}
