html,
body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

nav a {
  text-decoration: none;
  color: #b8becd;
}

nav a.icon-home {
  font-size: 0px;
}

nav a.icon-home:hover {
  font-size: 0px;
  opacity: 0.7;
}

nav a:hover {
  color: #000;
}

nav a.active {
  color: #000;
}

nav ul .email {
  position: relative;
  top: -5px;
}

.prof {
  position: relative;
  top: -10px;
  margin-right: -20px;
}

.icon-email {
  content: url("./assets/email.png");
  height: 2rem;
}

.icon-profile {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

.profile-picture-container {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.edit-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #ffcd61;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  font-weight: 700;
  font-size: 1.5rem;
  color: #b8becd;
  margin-bottom: 0px;
}

.section-title {
  font-weight: 900;
  font-size: 1.5rem;
}

.form-custom,
.form-custom:focus {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
}

.form-check-input:checked {
  background-color: #ffcd61;
  border-color: #ffcd61;
}

label {
  font-weight: 400;
  font-size: 1.5rem;
  color: #9f9f9f;
}

.action {
  display: flex;
  justify-content: space-between;
}

.action-button {
  width: 30%;
  height: 90px;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 10px;
}

.icon-like {
  content: url("./assets/like.png");
  height: 1.25rem;
}

/* Footer */
footer {
  background-color: #f9f9fb;
  color: #393939;
}

.grid-footer {
  display: grid;
  padding: 70px 90px 0px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: #393939;
}

.grid-footer .footer-title {
  font-weight: 700;
  color: #393939;
  margin-bottom: 1em;
}

.grid-footer a {
  text-decoration: none;
  color: #393939;
}

.grid-footer a:hover {
  color: #393939;
  opacity: 0.7;
}

.logo {
  content: url("./assets/logo.svg");
  height: 45px;
}

hr.line {
  color: #c4c4c4;
  width: 85%;
  margin: 10px auto;
}

.social {
  display: flex;
  justify-content: center;
  padding: 20px 0px 25px;
}

.social a {
  font-size: 0px;
  color: #393939;
}

.icon-google {
  content: url("./assets/icon-google.png");
  height: 1em;
}

.icon {
  margin: 15px;
}

.icon:hover {
  opacity: 0.7;
}
.icon-twitter {
  content: url("./assets/icon-twitter.svg");
}
.icon-facebook {
  content: url("./assets/icon-facebook.svg");
}
.icon-instagram {
  content: url("./assets/icon-instagram.svg");
}
.icon-linkedin {
  content: url("./assets/icon-linkedin.svg");
}
.icon-youtube {
  content: url("./assets/icon-youtube.svg");
}
/* Footer */

@media (max-width: 600px) {
  nav {
    padding: 1.5rem 2rem 0px;
    width: 100vw;
    height: 10vh;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
  }

  nav ul li {
    float: right;
    padding: 1rem;
  }

  nav li.optional {
    display: none;
  }

  .content {
    padding: 1.5rem 2rem;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5rem;
  }

  .grid-footer {
    grid-template-columns: auto;
  }

  .destinations,
  .vehicles,
  .interests {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  nav {
    padding: 5rem 6rem 0px;
    width: 100vw;
    height: 20vh;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
  }

  nav ul li {
    float: right;
    padding: 1rem;
  }

  nav li.optional {
    display: none;
  }

  .page {
    font-weight: 700;
    font-size: 2.25rem;
  }

  .content {
    padding: 5rem 6rem;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5rem;
  }

  .grid-footer {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 768px) {
  nav {
    padding: 5rem 6rem 0px;
    width: 100vw;
    height: 20vh;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
  }

  nav ul li {
    float: right;
    padding: 1rem;
  }

  .page {
    font-weight: 700;
    font-size: 2.25rem;
  }

  .content {
    padding: 5rem 6rem;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5rem;
  }

  .grid-footer {
    grid-template-columns: auto auto auto auto;
  }
}
