html,
body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

header,
footer,
.content {
  width: 100%;
  padding: 2vmax 5vmax;
}

p {
  margin: 0;
}

/* header */
header {
  background-color: #fff;
}

.hide-text {
  font-size: 0;
}

.icon-home {
  margin-bottom: auto;
}

.icon-home:hover {
  opacity: 0.7;
}

.logo {
  content: url("./assets/logo.svg");
  height: 3rem;
}

.right {
  display: flex;
  gap: 0.5rem;
}

div.navbar-collapse {
  flex-grow: initial;
}

li.nav-item {
  text-align: end;
  margin: auto 0;
}

.button-email-profile {
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-email {
  content: url("./assets/email.png");
  height: 2rem;
}

.icon-profile {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

/* content */
h1,
h2 {
  font-weight: 700;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

.profile-picture-container {
  width: 200px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.edit-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #ffcd61;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info {
  font-weight: 700;
  color: #b8becd;
  margin-bottom: 0px;
}

.section-title {
  font-weight: 900;
}

.custom-form,
.custom-form:focus {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  display: block;
  font-weight: 400;
}

.form-check-input:checked {
  background-color: #ffcd61;
  border-color: #ffcd61;
}

label {
  font-weight: 400;
  color: #9f9f9f;
}

.action {
  display: flex;
  justify-content: space-between;
}

.action-button {
  width: 30%;
  height: 90px;
  font-weight: 700;
  border-radius: 10px;
}

/* footer */
footer {
  background-color: #f9f9fb;
  color: #393939;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

.grid-footer {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  grid-gap: 1rem;
}

.grid-footer .intro {
  grid-area: a;
}

.grid-footer .destinations {
  grid-area: b;
}

.grid-footer .vehicles {
  grid-area: c;
}

.grid-footer .interests {
  grid-area: d;
}

.grid-footer .footer-title {
  font-weight: 700;
}

.grid-footer p {
  margin-bottom: 0.5rem;
}

.grid-footer a {
  text-decoration: none;
  color: #393939;
}

.grid-footer a:hover {
  color: #393939;
  opacity: 0.7;
}

hr.line {
  color: #c4c4c4;
  width: 85%;
  margin: 1rem auto;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social a {
  font-size: 0px;
  color: #393939;
}

.icon {
  height: 1.5rem;
  margin: 1rem;
}

.icon:hover {
  opacity: 0.7;
}
.icon-twitter {
  content: url("./assets/icon-twitter.svg");
}
.icon-facebook {
  content: url("./assets/icon-facebook.svg");
}
.icon-instagram {
  content: url("./assets/icon-instagram.svg");
}
.icon-linkedin {
  content: url("./assets/icon-linkedin.svg");
}
.icon-youtube {
  content: url("./assets/icon-youtube.svg");
}

@media (min-width: 576px) {
  /* header */
  .expanded-right {
    display: flex !important;
    flex-direction: row-reverse;
  }

  /* footer */
  .grid-footer {
    grid-template-areas:
      "a a a"
      "b c d";
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  /* content */
  h1 {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .info {
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 1.25rem;
  }

  .custom-form,
  .custom-form:focus {
    font-size: 1.25rem;
  }

  label {
    font-size: 1.25rem;
  }

  .action-button {
    font-size: 1.25rem;
  }

  /* footer */
  .grid-footer {
    grid-template-areas:
      "a b"
      "c d";
    justify-content: initial;
  }
}

@media (min-width: 992px) {
  /* footer */
  .grid-footer {
    grid-template-areas: "a b c d";
  }
}
